/* Regular */
@font-face {
    font-family: 'JetBrainsMono';
    src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'JetBrainsMono';
    src: url('./fonts/JetBrainsMono-Medium.woff2') format('woff2');
    font-weight: 500; /* Medium font weight */
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'JetBrainsMono';
    src: url('./fonts/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'JetBrainsMono';
    src: url('./fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'JetBrainsMono', 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 20px;
    text-align: left;
    background-color: #333;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 40px;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: rgba(51, 51, 51, 0.5);
    color: #fff;
    text-align: center;
    padding: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    backdrop-filter: blur(5px);
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    min-height: calc(100vh - 110px);
}

h4 {
    border-bottom: 5px solid #555;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 12px;
    border: 0px solid #555;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #555;
}

nav {
    background-color: transparent;
    overflow: hidden;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgba(51, 51, 51, 0.7);
}

#logo {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
        margin-right: 20px;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        background-color: #333;
        padding: 10px;
        list-style: none;
        margin: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        right: 20px;
        top: 50px;
    }

    .dropdown-menu li {
        margin: 5px 0;
    }

    .dropdown-menu.show {
        display: block;
    }

    #logo {
        font-size: 12px;
    }
}

form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #828282;
    border-radius: 8px;
}

label {
    display: block;
    margin: 10px 0;
    color: #000;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img {
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.profile-info p {
    margin-top: 10px
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-info h2, .profile-info h3 {
    margin: 0;
}

.profile-info h2 {
    font-size: 24px;
    color #333;
}

.profile-info h3 {
    font-size: 18px;
    color #555;
    padding-bottom: 10px;
}

.bio-section {
    margin-top: 20px;
}

.bio-section ol {
    list-style: none;
    padding: 0;
}

.bio-section li {
    margin-bottom: 5px;
}

.bio-section .year {
    font-weight: bold;
    display: inline-block;
    width: 80px;
}

@media screen and (max-width: 768px) {
    .project-card-container {
        display: flex;
        flex-direction: column;
    }

    .project-card {
        width: 100%;
        margin-bottom: 20px;
    }
}

.profile-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow:hidden;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid #fff;
}

.profile-picture-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

.project-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projects-page .project-card {
    flex: 0 0 calc(50% - 40px);
    width: 88%;
    margin: 10px 5px 10px 5px;
    padding: 15px;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: scale(1.05);
}

.hardware-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hardware-page .hardware-card {
    flex: 0 0 calc(50% - 40px);
    width: 88%;
    margin: 10px 5px 10px 5px;
    padding: 15px;
    background-color: #C0C0C0;
    color: #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
